
@font-face
    font-family 'Muli'
    src url('~@/assets/fonts/Muli.woff2') format('woff2')
    font-weight normal
    font-style normal
    font-display swap

@font-face
    font-family 'Muli'
    src url('~@/assets/fonts/Muli-Bold.woff2') format('woff2')
    font-weight bold
    font-style normal
    font-display swap
