.Button
  border 0
  padding .5em 1em
  transition .1s background-color
  display inline-block
  background $orange
  border 0
  text-decoration none
  padding 13px 30px
  transition .25s box-shadow .05s ease
  position relative
  font-weight 600
  font-family $font-worksans
  text-align center
  overflow hidden
  font-size 1.4rem
  min-width 150px
  line-height 1.4
  box-shadow 2px 2px 8px 1px rgba(0,0,0,0.25)

  @media $medium-up
    min-width 220px
    padding 17px 40px
    font-size 1.6rem

  &:hover
    cursor pointer
    // box-shadow 0 10px 25px 0 rgba(0,0,0,.07)

    &:before
      transform translate3d(-105%,0,0) skew(-45deg)
    &:after
      transform translate3d(105%,0,0) skew(-45deg)

  &:before,
  &:after
    content ''
    position absolute
    width calc(100% + 60px)
    height 102%
    top 0
    background darken($orange, 5)
    transform skew(-45deg)
    transition .1s transform ease-out

  &:before
    left calc(100% + 40px)
    background darken($orange, 10)

  &:after
    right calc(100% + 40px)
    transition .1s transform .25s ease-out

  &-content
    position relative
    z-index 1