.Hamburger
  display inline-block
  line-height 2
  text-transform uppercase
  font-weight bolder
  vertical-align sub
  cursor pointer
  position relative

  &:before, &:after
    content ''
    height 4px
    border-radius 2px
    width 100%
    background black
    display block
    transition 1s transform
    position absolute

  &:before
    top 2px
    margin auto

  &:after
    bottom 2px
    margin-right auto

  &:hover
    &:after, &:before
      transform rotateY(180deg)
      transform-origin 50% 50%
