.Text
    h2
        font-size 2rem
        margin-top 1.5em
        margin-bottom .7em
        font-family $font-worksans

        @media $medium-up
            font-size 2.4rem

        @media $xlarge-up
            font-size 3rem

    ul
        list-style-image url('~assets/img/li.svg')
        padding-left 16px
        line-height 1.4

        li
            padding-left 10px
            margin-bottom 10px